@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Inter", Arial, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
}

.navbar {
  height: 50px;
  background-color: rgba(17, 58, 85, 0.993);
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  height: 45px;
}
.navbar__menu-label {
  color: white;
  margin-left: auto;
  height: 42px;
  background-color: rgba(224, 204, 204, 0.781);
  width: 44px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 45px);
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__menu-icon {
  height: 2px;
  background-color: white;
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: white;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: rgb(33, 36, 77);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 0.75rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 1px solid rgba(26, 11, 11, 0.575);
}
.navbar__nav-link {
  color: white;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 45px !important;
    width: auto;
    background-color: transparent;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(25, 66, 94, 0.925);
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__contact-item {
  list-style: none;
  display: flex;
  align-items: center;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 1rem;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  color: rgba(187, 55, 64, 0.7725490196);
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}
.footer__contact-icon--telefono {
  color: rgb(32, 112, 112);
}
.footer__contact-icon--localizacion {
  color: rgba(182, 25, 25, 0.767);
}
.footer__contact-icon--email {
  color: rgba(219, 148, 15, 0.527);
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    background-color: rgba(17, 56, 92, 0.959);
  }
}/*# sourceMappingURL=main.css.map */